<body>
    <table width="50%" cellpadding="0" cellspacing="0" align="center" height="300"  border="0" style="background-color:rgb(88, 175, 237);color:#fff;text-align:center;border-radius:48px;padding:10px 24px;border-color:transparent;font-weight:bold;font-size:16px;line-height:1">
        <tbody>
          <tr>
            <td width="100%">
              <div style="max-width:600px;Margin:0 auto">
                <table
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px"
                >
                  <tbody>
                    <tr>
                      <td>
                        <table style="margin-bottom:40px;width:100%" width="100%">
                          <tbody>
                            <tr>
                              <td>
                                <a
                                  href="https://www.5kcarcare.com/l"
                                  style="font-family:Helvetica,Arial,sans-serif;color:#0086bf"
                                  target="_blank"
                                >
                                  <img
                                    src="https://www.5kcarcare.com/assets/img/logo.png"
                                    style="display:block;width:300px;height:100px;margin-left:auto;margin-right:auto;margin-bottom:10px"
                                    height="auto"
                                    alt="5kcarcare"
                                    width="400"
                                  />
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align:justify;word-break:break-word">
                        <table style="margin-bottom:20px;width:100%" width="100%">
                          <tbody>
                            <tr>
                              <td>
                                <table
                                  style="width:100%;margin-bottom:20px"
                                  width="100%"
                                  cellpadding="0"
                                  cellspacing="0"
                                >
                                  <tbody>
                                    <tr>
                                      <td>
                                        <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">Hello Admin, </strong>
                                        <h1
                                          style="font-size:15px;line-height:30px;color:#054752;word-break:normal"
                                        >
                                        <%=name %> <%=type %> at <%=time %>
                                        </h1>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table width="100%" style="margin-bottom:20px;width:100%">
                          <tbody>
                            <tr>
                              <td width="100%">
                                <div
                                  style="width:100%;height:1px;background-color:#ddd"
                                  color="#DDD"
                                  width="100%"
                                ></div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
      
                    <tr>
                      <td style="text-align:center">
                        <img
                          src="" 
                          alt="Fusion Apps"
                          style="display:block;width:100px;height:auto;margin-left:auto;margin-right:auto;margin-bottom:10px"
                          height="auto"
                        />
                      </td>
                    </tr>
      
                    <tr>
                      <td style="text-align:center">
                        <table
                          style="max-width:100%;width:100%;text-align:center;font-family:ArialMT,Arial,sans-serif"
                          cellspacing="0"
                          cellpadding="0"
                        >
                          <tbody>
                            <tr>
                              <td style="text-align:center">
                                <p
                                  style="font-size:10px;color:#234567e5;text-align:center;padding:0;margin-top:10px;margin-bottom:2px;font-weight: bold;"
                                >
                                Powered By Fusion Analytics
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</body>